/* 
Project : Personnal Web page
Author : Nicolas Vannson
Date : December 2024
*/


/*Nav*/
header {
    background-color: white;
    color: rgb(190, 40, 40);
    padding: 20px;
    font-family: 'Courier New';
    font-style: italic;
    font-weight: lighter;
    position: absolute;
    top: 0;
    right: 0;
  }
  

  header nav {
    float: right;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    float: left;
  }
  
  header nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  



/*Body*/
body {
    font-family: 'Courier New';
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 100% of the viewport height */
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    margin-bottom: 3px;
    font-style: italic;
    font-weight: lighter;
  }


/*Main*/
  .central_container {
  display: flex;
  align-items: center;
  height: 80vh; 
  margin-block:280px 50px;
  flex-direction: column;
  }
  
  .section_container {
  /*background-color: #f0f0f0;*/
  margin-block: 50px 100px;
  /*border: 1px solid #ccc;*/
  max-height: 500;max-width: 1300;
  } 
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide into two equal columns */
    grid-template-rows: 1fr 1fr; /* Divide into two equal rows */
    gap: 20px; /* Add spacing between boxes */
    /* add to limit box size */
    max-height: 500;max-width: 1300;
    }
 
  .text-container {
  flex: 1; /* Flex-grow: 1 to take up available space */
  padding: 20px;
  text-align:left; 
  }

  .image-container {
  flex: 1; /* Flex-grow: 1 to take up available space */
  text-align: center; /* Center the image */
  padding: 20px;
  margin: 0 auto;
  }

  .box {
  border: 1px solid black;
  padding: 20px;
  }

/*Footer*/
