/* 
Project : Personnal Web page
Author : Nicolas Vannson
Date : December 2024
*/


/*Nav*/


header {
    background-color: white;
    color: rgb(190, 40, 40);
    padding: 20px;
    font-family: 'Courier New';
    font-style: italic;
    font-weight: lighter;
    position: absolute;
    top: 0;
    right: 0;
  }
  

  header nav {
    float: right;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    float: left;
  }
  
  header nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  



/*Body*/

body {
    font-family: 'Courier New';
    display: flex;
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 100% of the viewport height */
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    font-style: italic;
    font-weight: lighter;
  }


/*Main*/
.central_container {
    display: flex;
    align-items: center;
    height: 80vh; 
    margin-block:260px 50px;
    flex-direction: column;
    }
    
    .projects_container {
    /*background-color: #f0f0f0;*/
    padding: 50px;
    /*border: 1px solid #ccc;*/
    } 
    
    
    .publications_container {
    /*background-color: #f0f0f0;*/
    padding: 50px;
    margin-block: 50px 100px;
    }
    


/*Footer*/
